# Lesson 24 - Data Visualization Lab
In this lab we will walk through importing data and vizualizing it to easily and quickly answer some questions about our data. Just like we learned in class, data visualization is an amazing technique to explore your data, answer questions about your data and summarize your analysis!
***
First, we will import the necessary modules for easy data processing.

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize'] = [15, 10]
pd.options.display.max_rows = 10

Next we will read in our data using the `pandas` module that we call `pd` and store the data in the variable `df` (for DataFrame). You can think of a DataFrame like a table or 2D list!

In [5]:
df = pd.read_csv('movies.csv', parse_dates=['Date'])

In [6]:
df

,Date,Movie Title,Franchise,Production Budget,Opening Weekend,Domestic Box Office,Worldwide Box Office,IMDb Rating
0,1995-11-22,Toy Story,Toy Story,30000000,29140617,192523233,365270951,8.3
1,1999-11-13,Toy Story 2,Toy Story,90000000,300163,245852179,511358276,7.9
2,2010-06-18,Toy Story 3,Toy Story,200000000,110307189,415004880,1068879522,8.2
3,2019-06-21,Toy Story 4,Toy Story,200000000,120908065,434038008,1073080329,7.7
4,2021-09-03,Shang-Chi and the Legend of…,Marvel,150000000,75388688,206181396,386981396,7.9
...,...,...,...,...,...,...,...,...
62,2002-05-16,Star Wars Ep. II: Attack of…,Star Wars,115000000,80027814,310676740,656695615,6.5
63,1999-05-19,Star Wars Ep. I: The Phanto…,Star Wars,115000000,64810970,474544677,1027044677,6.5
64,1983-05-25,Star Wars Ep. VI: Return of…,Star Wars,32500000,23019618,309205079,475106177,8.3
65,1980-05-21,Star Wars Ep. V: The Empire…,Star Wars,23000000,4910483,291738960,549001242,8.7
66,1977-05-25,Star Wars Ep. IV: A New Hope,Star Wars,11000000,1554475,460998007,775398007,8.6

## Question 1: Which Franchise has the highest Domestic Boc Office profits?
This question can be answered in several different ways, but the easiest way is probably to plot the average `Domestic Box Office` profits for each `Franchise` using a **bar plot**.

In [7]:
# insert your plot code here

plt.show()

Looks like Star Wars is our winner!
***
## Question 2: Is there any relationship between the IMDb Rating and the Domestic Box Office total gross profits?
In order to quickly inspect relationships between two pieces of information, we can use a **scatter plot**. If we see an upward trend in our scatter points, we can say that there is a relationship between the two variables.

In [8]:
# insert your plot code here

plt.show()

It looks like there is a trend between `IMDb Rating` and `Domestic Box Office`! As the rating increases (to the right on the x-axis) the profits also increase (going up the y-axis).
***
## Question 3: Is there a trend in Domestic Profits for Star Wars?
One of the best ways to spot a trend in data is to use a line plot! This is especially effective when we are looking at the trend over time. First have to filter all of our Star Wars movies and then we can make a line plot with the `Date` on the x-axis and the `Domestic Box Office` profits on the y-axis. The code to filter is provided for you and the new DataFrame containing all of the Star Wars movies is called `sw`. **HINT: when you plot your line plot, use the `sw` DataFrame and not the original `df` DataFrame**

In [9]:
sw = df.loc[df.Franchise == 'Star Wars']
# insert your plot code here

plt.show()